@charset "utf-8";
.md {
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga" 1;
     -moz-font-feature-settings: "liga" 1;
          font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  padding: 0;
  border: 0;
}

button, input, select, textarea {
  margin: 0;
  outline: 0 !important;
}

button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner, textarea::-moz-focus-inner {
  border: 0;
}

button, input, select {
  vertical-align: middle;
}

*[class*="full"],
*[class*="half"],
*[class*="third"],
*[class*="quarter"],
*[class*="two-thirds"],
*[class*="three-fourths"] {
  float: left;
}

*[class*="full"],
*[class*="half"],
*[class*="third"],
*[class*="quarter"],
*[class*="two-thirds"],
*[class*="three-fourths"] {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2%;
}

*[class*="full"],
*[class*="last"] {
  margin-bottom: 0;
}

/* Some conditional styles for ease of use */
*[class*="block"] {
  background-color: rgba(0, 0, 0, 0.5);
}

/* for IE 8 support */
/*
*[class*="block"] { background-color: #AAA; }
*[class*="block"] *[class*="block"] { background-color: #555; }
*/
*[class*="band"] {
  background-color: #888;
}

section, *[class*="section"] {
  overflow: hidden;
  width: 100%;
  float: left;
  padding: 1% 0;
  position: relative;
}

*[class*="holder"] {
  padding: 2%;
}

/* ==========================================================================
Screen size is greater than 400 pixels
========================================================================== */
@media all and (min-width: 400px) {
  *[class*="full"],
  *[class*="half"],
  *[class*="third"],
  *[class*="quarter"],
  *[class*="two-thirds"],
  *[class*="three-fourths"] {
    margin-bottom: 0;
  }

  *[class*="half"],
  *[class*="third"],
  *[class*="quarter"],
  *[class*="two-thirds"],
  *[class*="three-fourths"] {
    margin-left: 1%;
    margin-right: 1%;
  }

  *[class*="first"] {
    margin-left: 0;
  }

  *[class*="last"] {
    margin-right: 0;
  }

  *[class*="middle"] {
    margin-right: 1%;
    margin-left: 1%;
  }

  *[class*="full"] {
    width: 100%;
  }

  *[class*="half"] {
    width: 100%;
  }

  *[class*="third"] {
    width: 32%;
  }

  *[class*="two-thirds"] {
    width: 66%;
  }

  *[class*="quarter"] {
    width: 23.5%;
  }

  *[class*="three-fourths"] {
    width: 74.5%;
  }
}
/* ==========================================================================
Screen size is greater than 900 pixels
========================================================================== */
@media all and (min-width: 900px) {
  *[class*="full"] {
    width: 100%;
  }

  *[class*="half"] {
    width: 49%;
  }

  *[class*="third"] {
    width: 32%;
  }

  *[class*="two-thirds"] {
    width: 66%;
  }

  *[class*="quarter"] {
    width: 23.5%;
  }

  *[class*="three-fourths"] {
    width: 74.5%;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  min-height: 100%;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  /* smooths type in all browsers */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #00d;
}
a:hover, a:focus, a:active {
  color: #d00;
}

hr {
  background: #DDD;
  width: 100%;
  margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: #000;
  width: 100%;
}

h1, h2, h3 {
  line-height: 1.125;
  margin: 3rem 0 0 0;
}

h4, h5, h6 {
  margin: 2rem 0 1rem 0;
}

sup,
sub {
  font-size: 70%;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

b,
strong {
  font-weight: bold;
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

.cf {
  *zoom: 1;
}
.cf:before, .cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}

/* ==========================================================================
 Page + Container
 ========================================================================== */
.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  max-width: 1200px;
}

/* ==========================================================================
Link Buttons (links that look like buttons)
========================================================================== */
.link_button {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  line-height: 1.125;
  font-family: "Helvetica Neue", sans-serif;
  background-color: pink;
  border: 1px solid pink;
  color: #fff;
  border-radius: 0.2rem;
}
.link_button:hover, .link_button:focus, .link_button:active {
  background-color: yellowgreen;
  border-color: yellowgreen;
  color: #fff;
  outline: none;
}

/* ==========================================================================
CSS for Embeded videos
========================================================================== */
.video {
  /* wrap your iframe in an element with class="video" */
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 0px;
  padding: 0px 0px 62.5% 0px;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
CMS Module Grid
========================================================================== */
.cms-section {
  float: left;
  width: 100%;
}

.cms-module {
  float: left;
}

.cms-module {
  padding: 1rem;
}

.cms-module-12,
.cms-module-9,
.cms-module-8,
.cms-module-6,
.cms-module-4,
.cms-module-3 {
  width: 100%;
}

@media all and (min-width: 900px) {
  .cms-module-12 {
    width: 100%;
  }

  .cms-module-9 {
    width: 75%;
  }

  .cms-module-8 {
    width: 66.66667%;
  }

  .cms-module-6 {
    width: 50%;
  }

  .cms-module-4 {
    width: 33.33333%;
  }

  .cms-module-3 {
    width: 25%;
  }
}
.form_buttons button,
.form_buttons input[type="submit"],
.form_buttons input[type="reset"],
.form_buttons input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 1rem 2rem;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 400;
}
@media all and (min-width: 500px) {
  .form_buttons button,
  .form_buttons input[type="submit"],
  .form_buttons input[type="reset"],
  .form_buttons input[type="button"] {
    width: auto;
    margin-right: 1.5rem;
  }
}
.form_buttons input[type="submit"] {
  border-color: #41A85F;
  color: #41A85F;
}
.form_buttons input[type="submit"]:hover, .form_buttons input[type="submit"]:focus, .form_buttons input[type="submit"]:active {
  background-color: #41A85F;
  color: #fff;
}
.form_buttons input[type="reset"] {
  border-color: #E25041;
  color: #E25041;
}
.form_buttons input[type="reset"]:hover, .form_buttons input[type="reset"]:focus, .form_buttons input[type="reset"]:active {
  background-color: #E25041;
  color: #fff;
}
.form_buttons input[type="button"] {
  border-color: #A38F84;
  color: #A38F84;
}
.form_buttons input[type="button"]:hover, .form_buttons input[type="button"]:focus, .form_buttons input[type="button"]:active {
  background-color: #A38F84;
  color: #fff;
}

header {
  text-align: center;
  background-color: #DDD;
}
header .logo {
  margin: 0 auto;
}
header h1 {
  margin: 1.5rem 0;
}

@media all and (min-width: 900px) {
  main .container {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 100vw;
  }
  main .container > div {
    width: 50%;
    padding: 0 1.5rem;
  }
}
main p {
  margin: 1.5rem 0;
}
main ol, main ul {
  list-style-position: outside;
  padding-left: 3rem;
  margin: 1.5rem 0;
}
main h2.style_subhead {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 1rem 0 2rem 0;
}
main .annotation {
  font-size: 1.4rem;
  color: #DDD;
  display: block;
}

.colors {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media all and (min-width: 500px) {
  .colors {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.colors h2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}
.colors .color_box {
  width: 100%;
  height: 6rem;
  margin-bottom: 1.5rem;
  background-color: #000;
}
.colors .color_box.box_one {
  background-color: #FAC51C;
}
.colors .color_box.box_two {
  background-color: #41A85F;
}
.colors .color_box.box_three {
  background-color: #E25041;
}
.colors .color_box.box_four {
  background-color: #A38F84;
}
.colors .color_box.box_five {
  background-color: #9365B8;
}
.colors .color_box.box_six {
  background-color: #2C82C9;
}
@media all and (min-width: 500px) {
  .colors .color_box {
    width: calc(50% - 0.75rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .colors .color_box:nth-of-type(odd) {
    margin-left: 0;
  }
  .colors .color_box:nth-of-type(even) {
    margin-right: 0;
  }
}

.adjectives {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media all and (min-width: 500px) {
  .adjectives {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.adjectives h2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}
.adjectives .adjective {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.imagery {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.imagery h2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}
@media all and (min-width: 500px) {
  .imagery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.imagery .image_box {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5rem;
}
@media all and (min-width: 500px) {
  .imagery .image_box {
    width: calc(33.333% - 0.75rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .imagery .image_box:first-of-type {
    margin-left: 0;
  }
  .imagery .image_box:last-of-type {
    margin-right: 0;
  }
  .imagery .image_box:nth-of-type(2) {
    margin-right: 0.375rem;
    margin-left: 0.375rem;
  }
}

.typography h1 {
  font-size: 6.8535rem;
}
.typography h2 {
  font-size: 4.2358rem;
}
.typography h3 {
  font-size: 2.6179rem;
}

footer {
  text-align: center;
  font-size: 1.2rem;
  background-color: #DDD;
}

/*# sourceMappingURL=public.css.map */